.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://img.freepik.com/free-vector/digital-technology-polygon-background_1035-18184.jpg?w=2000);
  height: 500px;
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148865393.jpg?w=1380&t=st=1683616743~exp=1683617343~hmac=29bb2bcc4b5bc7794bdc6f5c6e5ef5eab7c3e5641e7a225de21e2ace9bd6f55a);
  height: 500px;
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://img.freepik.com/free-photo/network-connections_1048-7701.jpg?w=1060&t=st=1683616772~exp=1683617372~hmac=760b1afea04c4dd86f5e1a90934349fa342a4ffb2fa67782d2eacd9cad5a3b76o);
  height: 500px;
}
